<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/w11b/46ba66be-3b40-4927-9220-a0603d00ac7c/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Tailspin.SpaceGame.Web.Models>
            <add key="Username" value="w11b@ya.ru"/>
            <add key="ClearTextPassword" value="xvobzui63iacu6pskaidecqqdprq3xahqlh23jdnykx5zhzeew5q"/>
        </Tailspin.SpaceGame.Web.Models>
    </packageSourceCredentials>
</configuration>